.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 350px;
    background-color: var(--Branco);
    border: 2px solid var(--Azul);
    margin-top:2.5%;
    margin-bottom:2.5%;
}

.cardHead{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom:3%;
}

.cardHead svg:hover{
    opacity: 0.3;
    cursor: pointer;
}

.cardData {
    display: flex;
    justify-content: start;
    padding-left: 20%;
}

@media screen and (max-width: 1100px){
    .cardContainer {
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .cardData {
        padding-left: 15%;
    }
    .cardData p {
        word-wrap: break-word;
        width: 150px;
    }
}