.section{
    display: flex;
    height: 600px;
    width: 100%;
}

.blocoEsquerdo, .blocoDireito{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 100vh;
}

.blocoEsquerdo{
    text-align: center;
    flex-direction: column;
    background-color: var(--Branco);
}

.blocoEsquerdo p{
    margin-top: 10%;
}

.blocoDireito{
    background-color: var(--Azul);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 5%;
    width: 60%;
    background-color: var(--Branco);
}

.loginForm, .registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.head{
    width:35%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}

.head .tituloContainer, .head .option{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head .option{
    margin-top: 10%;
}

p.on{
    color: var(--Azul);
}

.head .option p:hover{
    cursor: pointer;
    opacity: 0.8;
}

.titulo {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--Azul);
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 8%;
}

.inputContainer input{
    margin-bottom: 10%;
}

.funcoes{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.funcoes input{
    border: 2px solid var(--Azul);
    margin-right:10px;
}

.funcoes a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 80%;
}

.buttonContainer button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}



@media screen and (max-width: 1100px){

    .head{
        width:50%;
    }

    .blocoEsquerdo {
        display: none;
    }

    .blocoDireito {
        width: 100%;
    }

    .container {
        width: 85%;
    }
}