.header {
    display: flex;
    justify-content: space-between;
    width: 100%;    
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height:50px;
    width: 50px;
    border-radius: 100%;
    background-color: var(--Azul);
    z-index: 9999;
}

.iconContainer, .cartContainer {
    z-index: 9999;
}

.cartContainer {
    position: fixed;
    margin-left: 83%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 999;
}

.itensContainer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height:auto;
    background-color: var(--Azul);
}

.inputLine {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.homeLine{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--Branco);
    padding-bottom:1%;
    margin-top:5%;
}

.line  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    border-bottom: 1px solid var(--Branco);
    padding: 3%;
}

.homeLine img{
    height: 32px;
}

.homeLine p, .line p{
    font-size: 28px;
    margin-left:5px;
    color: var(--Branco);
}

.input {
    width:80%;
    border-radius:3px;
    background-color:var(--Cinza) ;
    background-image: url('../../images/search.png');
    background-repeat:no-repeat;
    background-position: 98%;
    background-size:20px;
    border: 0;
    padding: 5px;
    padding-left:10px;
}